XOLO_SECRET_KEY="" # Generate it with "openssl rand -hex 32"

XOLO_LOGGER_LEVEL=-4
XOLO_LOGGER_DEBUG=true

XOLO_HTTP_SESSION_KEYS=abcdefghijklmnopqrstuvwxyz000002
XOLO_HTTP_BASE_URL=http://localhost:3002

XOLO_HTTP_AUTHN_DEFAULT_ADMINS="<your_email>"

XOLO_HTTP_AUTHN_PROVIDERS_GITEA_KEY=
XOLO_HTTP_AUTHN_PROVIDERS_GITEA_SECRET=
XOLO_HTTP_AUTHN_PROVIDERS_GITEA_LABEL="My Gitea Identity Provider"
XOLO_HTTP_AUTHN_PROVIDERS_GITEA_AUTH_URL=https://gitea-server/login/oauth/authorize
XOLO_HTTP_AUTHN_PROVIDERS_GITEA_TOKEN_URL=https://gitea-server/login/oauth/access_token
XOLO_HTTP_AUTHN_PROVIDERS_GITEA_PROFILE_URL=https://gitea-server/login/oauth/userinfo
XOLO_HTTP_AUTHN_PROVIDERS_GITEA_SCOPES=openid,email

XOLO_HTTP_AUTHN_PROVIDERS_GOOGLE_KEY=
XOLO_HTTP_AUTHN_PROVIDERS_GOOGLE_SECRET=

XOLO_HTTP_AUTHN_PROVIDERS_GITHUB_KEY=
XOLO_HTTP_AUTHN_PROVIDERS_GITHUB_SECRET=
XOLO_HTTP_AUTHN_PROVIDERS_GITHUB_SCOPES=openid,user

XOLO_PLUGINS_DIR=bin/plugins